/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* HEADER */
.header {
    background-color: #D4AF37; /* Gold */
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #E7BFB4; /* Rose Gold */
}

/* FOOTER */
.footer {
    background-color: #1C1C1C; /* Black */
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}
